body{
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

section{
  margin-top: 1%;
}

header{
  background-color: #1f66b4;
  color: #fffeff;
  text-align: center;
  padding: 0.5%;
  width: 100%;
  font-family: 'Pacifico', cursive;
}