@media (max-width: 640px){
  .main_left{
    display: none;
  }

  .main_right{
    width: 100%;
  }

  .sign_up_area{
    width: 100%;
  }

 /* .why{
    display: none;
  }

  .slash{
    display: none;
  }*/
}