/*Mobile Screens (Smartphones & Small Tablets)*/
@media (max-width: 768px){
  #main_left{
    width: 100%;
  }

  #main_right{
    width: 100%;
    display: none;
  }

  #display_sign_up_button{
    padding: 5%;
    background-color: #38aa62;
    display: block;
    width: 80%;
    text-align: center;
    margin: 10%;
    color: #ffffff;
  }

  .left_elements, .sign_up_area{
    width: 100%;
  }

 .sign_up_form{
  font-size: 0.75em;
 }

 .dob{
  padding: 2%;
 }
}