/*Main: Document, Header, Left and Right Areas*/
body{
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#main_left, #main_right{
  margin-top: 1%;
}

.header_bar{
  background-color: #1f66b4;
  color: #fffeff;
  text-align: center;
  padding: 0.5%;
  width: 100%;
  font-family: 'Pacifico', cursive;
}

/*Left Area*/
#main_left{
  float: left;
  width: 45%;
  margin-left: 5%; 
}

.left_elements{
  width: 75%;
  float: right;
}

.benefit_statement{
  border-bottom: 2px solid #e6ecf0;
  color: #6b7682;
  width: 95%;
}

.benefit_statement h2{
  color: #3d4c5f;
  font-weight: 700;
  font-size: 2.0em;
  margin-bottom: -10px;
}

.benefit_statement_info{
  width: 95%;
}

.number_area{
  color: #31b763;
  width: 100%;
  margin: 5% 0;
}

.big_number_text{
  display: inline-block;
  font-size: 1.0em;
  margin-left: 5%;
}

.money_number{
  font-size: 3.5em;
}

.money_number{
  font-family: 'Montserrat', sans-serif;
}


.sign_up_images{
  border-radius: 10%;
  box-shadow: 0px 5px #bbbbbb;
}
.value_statements{
  width: 75%;
  font-size: 1.25em;
}

.value_statements h4{
  color: #455262;
}

.value_statements_text{
  color: #4c5b6a;
  margin-left: 20%;
  margin-bottom: 10%;
  width: 100%;
}

.value_statement_info{
  color: #647280;
  font-size: 0.75em;
}


/*Right Area*/

#main_right{
  width: 49%;
  float: right;
  margin-left: 1%;
}

.sign_up_area{
  background-color: #ffffff;
  width: 60%;
  padding: 1%;
  border: 2px solid #e8e8e8;
  border-radius: 1%;
  margin-right: 5%;
  color: #8c949e;
}

.sign_up_form p{
  margin-bottom: 0.5%;
  margin-left: 10%;
  color: #77818c;
}

.why{
  color: #aab5c2;
}

.ssn_last_four{
  width: 15%;
  padding: 2%;
  margin-left: 10%;
}

.dob{
  width: 10%;
  padding: 2%;
  text-align: center;
}

.dob.dob_day{
  margin-left: 10%;
}

.dob.dob_month{
  width: 12%;
}

.dob.dob_year{
  padding: 2% 4%;
}


.sign_up_area .password, .sign_up_area .last_name{
  width: 75%;
  margin: 2% 10%;
  padding: 2%;

}

.sign_up_area #sign_up_button{
  background-color: #36b063;
  color: white;
  font-size: 1.00em;
  border-radius: 0%;
  width: 80%;
  margin: 2% 10%;
  padding: 3%;
}

#sign_up_error_message{
  display: none;
}

#sign_up_error_message p{
  background-color: #f1dfdf;
  color: #c26778;
  width: 78%;
  margin-left: 10%;
  padding: 2%;
}

.sign_up_area a{
  text-decoration: none;
  color: #77a1cf;
}

.sign_up_disclaimer{
  text-align: center;
}

input{
  background-color: #fefff1;
  border: 1px solid #d1d1d0;
  border-radius: 8px;
}

.sign_up_images{
  float: left;
}

.display_buttons{
  display: none;
}
