body{
  background-color: #fafafa;
}

.sign_up_images{
  border-radius: 10%;
}

.header_bar{
  background-color: #1f66b4;
  color: #fffeff;
  text-align: center;
  padding: 1%;
  margin-bottom: 1%;
  width: 100%;
}

.main_left{
  background-color: red;
  float: left;
  width: 50%;
}

.benefit_statement h2{
  color: #3d4c5f;
}

.value_statements h4{
  color: #3d4c5f;
}

.main_right{
  background-color: purple;
  width: 49%;
  float: right;
  margin-left: 1%;
}

.sign_up_area{
  background-color: yellow;
  width: 60%;
  padding: 1%;
  border: 1px solid #e8e8e8;
  border-radius: 1%;
  margin-right: 5%;
}

input{
  background-color: #fefff1;
  border-radius: 12%;
}

.sign_up_images{
  float: left;
}

.left_content{
  background-color: blue;
  width: 70%;
  margin-left: 5%;
}
